.navbar {
    background-color: #06283D;
    overflow: hidden;

}

.menu-navbar img, #links_a, #sep{
    height: 100%;
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 1.25vw 3px;
    text-decoration: none;
    font-size: 1vw;
    font-family: 'Times New Roman', Times, serif;
    transition: color 1s, transform 2s;
}

#mappe {
    height: 100%;
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 1.25vw 3px;
    text-decoration: none;
    font-size: 1vw;
    font-family: 'Times New Roman', Times, serif;

}


.dropdown-provincia:hover > #arrow {
    transform: rotate(180deg);
}

.dropdown-provincia-content {
    top: 3.65vw;
    right: 0;
    display: none;
    position: absolute;
    background-color: #457b9d;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-provincia-content #dropdown-provincia-content-a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.9vw;
    color: black;
    padding: 1vw 3.5vw;
    text-decoration: none;
    display: block;
    transition: color 1s;
}

#dropdown-provincia-content-a:hover {
    color: #a8dadc
}

.dropdown-provincia:hover .dropdown-provincia-content {
    display: block;
}




.dropdown-ilva:hover > #arrow {
    transform: rotate(180deg);
}

.dropdown-ilva-content {
    top: 3.65vw;
    right: 5vw;
    display: none;
    position: absolute;
    background-color: #457b9d;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-ilva-content #dropdown-ilva-content-a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.9vw;
    color: black;
    padding: 1vw 3.5vw;
    text-decoration: none;
    display: block;
    transition: color 1s;
}

#dropdown-ilva-content-a:hover {
    color: #a8dadc
}

.dropdown-ilva:hover .dropdown-ilva-content {
    display: block;
}


#arrow {
    width: 1vw;
    transition-property: tranform(rotate);
    transition-duration: 0.3s;
    filter: invert(99%) sepia(1%) saturate(561%) hue-rotate(124deg) brightness(118%) contrast(90%);
}


.menu-navbar #links_a:hover {
    color: #a8dadc
}

nav {
    padding-right: 10px;
}


.titolo {
    height: 100%;
    font-size: 1.5vw;
    float: left;
    font-family: 'Times New Roman', Times, serif;
    width: 50%;
    padding: 1vw 0;
    color: #f2f2f2;
    text-align: center;
}


.menu-navbar {
    float: left;
    font-family: 'Times New Roman', Times, serif;
    width: 50%;
}
