footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #06283D;
    height: auto;
    color: #fff;
}

.logo-title {
    float: left;
    width: 50%;
}

img {
    width: 4vw;
    padding: 1vw 3vw;
    float: left;

}


.title {
    font-size: 1.5vw;
    padding: 2.15vw 0;
    float: left;
    font-family: 'Times New Roman', Times, serif;
}

.sources-credits {
    float: left;
    width: 50%;
    height: auto;
}

.sources {
    float: right;
    
}

.sources-credits a, #sep-fonti {
    float: left;
    font-size: 1.3vw;
    padding: 2.25vw 0.2vw;
    text-decoration: none;
    color: #f2f2f2;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    transition: color 1s;
}
.credits {
    float: right;
    padding: 1.2vw 3vw;
}

#names {
    font-size: 1vw;
    font-family: 'Times New Roman', Times, serif;
}
.sources-credits a:hover {
    color: #a8dadc;
}